<h1>Type</h1>
<% content_for(:title_tag) do %>
  <%= @type.name %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2><%= @type.name %></h2>
      <p>pokemon link: <%= @type.pokemons %></p>

      <%= link_to "Retour au Pokédex", pokemons_path, class: "btn btn-primary" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
