<div class="card">
  <div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="/pokemons/1">1</a></li>
        <li><a href="/pokemons/2">2</a></li>
        <li><a href="/pokemons/3">3</a></li>
        <li><a href="/pokemons/4">4</a></li>
        <li><a href="/pokemons/5">5</a></li>
        <li>
          <a href="5" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
