<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <h1>Mon Pockédex</h1>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <div><%= link_to "Nouveau Pokemon", new_pokemon_path, {class: "btn btn-success btn-sm"} %>
    <%= link_to "Nouveau Type", new_type_path, {class: "btn btn-success btn-sm"} %>
    <%= link_to "Nouvelle Attaque", new_attack_path, {class: "btn btn-success btn-sm"} %></div>

  </div>
</div>
